

<%#= render '/refinery/content_page' %>

<!-- HOME HERO -->
    <div class="home-hero">
      <div class="container">
        <div class="row spacer thirty"></div>
        <div class="row spacer thirty"></div>
        <div class="row spacer thirty"></div>
        <div class="row">
          <div class="col-md-12">
            
            <h1>Welcome to Viroqua</h1>
            <div class="row spacer fifteen"></div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>Viroqua, Wisconsin, is one of the most beautiful and unique small cities in Wisconsin. Visit the doorway to a driftless region.</h2>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row spacer thirty"></div>
    <div class="row spacer thirty"></div>
    <div class="row spacer thirty"></div>
      <div class="row">
      
        <div class="col-md-4">
          <div class="home-circle blue" style="padding-top:40px;padding-left:42px;">
            <h1 style="background:url('/assets/Main-Page-white.png') -1px -1px no-repeat;height:70px;width:70px;padding:20px;">&nbsp;<!-- <i class="fa fa-building-o"></i --></h1>
          </div>
          <div class="row spacer fifteen"></div>
          <h4 class="text-center text-upper blue strong">City of Viroqua</h4>
          <p class="text-center light blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum odio, sollicitudin.</p>
        </div>
        <div class="col-md-4">
          <div class="home-circle blue" style="padding-top:40px;padding-left:42px;">
            <h1 style="background:url('/assets/Main-Page-white.png') -143px -1px no-repeat;height:70px;width:70px;padding:20px;">&nbsp;<!-- i class="fa fa-truck"></i --></h1>
          </div>
          <div class="row spacer fifteen"></div>
          <h4 class="text-center text-upper blue strong">Chamber Mainstreet</h4>
          <p class="text-center light blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum odio, sollicitudin.</p>
        </div>
        <div class="col-md-4">
          <div class="home-circle blue" style="padding-top:40px;padding-left:42px;"">
            <h1 style="background:url('/assets/Main-Page-white.png') -72px -1px no-repeat;height:70px;width:70px;padding:20px;">&nbsp;<!-- i class="fa fa-picture-o"></i --></h1>
          </div>
          <div class="row spacer fifteen"></div>
          <h4 class="text-center text-upper blue strong">Viroqua Tourism</h4>
          <p class="text-center light blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum odio, sollicitudin.</p>
        </div>
        
        
      </div>
      
    </div>
    
    <div class="container">
      <div class="row spacer thirty"></div>
      <div class="row spacer thirty"></div>
      <div class="row spacer thirty"></div>
      <div class="row spacer thirty"></div>
    </div>

