<div class="row">
  <div class="col-md-4">
    <div class="home-circle city center-icon">
      <h1 class="home-city-icon"></h1>
    </div>
    <h3 class="text-center blue light">Departments</h3>
  </div>
  <div class="col-md-4">
    <div class="home-circle city center-icon">
      <h1 class="home-gov-icon"></h1>
    </div>
    <h3 class="text-center blue light">City Government</h3>
  </div>
  <div class="col-md-4">
    <div class="home-circle city center-icon">
      <h1 class="home-services-icon"></h1>
    </div>
    <h3 class="text-center blue light">City / Business Services</h3>
  </div>  
</div>



