<div class="row">
  <div class="col-md-4">
    <div class="home-circle chamber center-icon">
      <h1 class="home-start-icon"></h1>
    </div>
    <h3 class="text-center orange light">Start a Business</h3>
  </div>
  <div class="col-md-4">
    <div class="home-circle chamber center-icon">
      <h1 class="home-econ-icon"></h1>
    </div>
    <h3 class="text-center orange light">Economic Development</h3>
  </div>
  <div class="col-md-4">
    <div class="home-circle chamber center-icon">
      <h1 class="home-property-icon"></h1>
    </div>
    <h3 class="text-center orange light">Property Listings</h3>
  </div>  
</div>


