<!--
<div class="block city">
	Hello
</div>
<div class="block city">
	Hello
</div>
<div class="block city">
	Hello
</div> -->

<div class="block city" >
	<a href>
	<h1 class="red remove-margin remove-padding text-center calendar"></h1>
	<h5 class="blue text-center" style="margin-bottom:0px; padding-bottom: 0;margin-top:-.65em;">Calendar</h5>
</a>
</div>
<div class="block city">
	<a href>
	<h1 class="blue remove-margin remove-padding text-center council"></h1>
	<h5 class="blue text-center" style="margin-bottom:0px; padding-bottom: 0;margin-top:-.65em;">Farmer's Market</h5>
</a>
</div>
<div class="block city">
	<a href>
	<h1 class="blue remove-margin remove-padding text-center zoning"></h1>
	<h5 class="blue text-center" style="margin-bottom:0px; padding-bottom: 0;margin-top:-.65em;">Arts &amp; Entertainment</h5>
</a>
</div>