<div class="block tourism" >
	<a href>
	<h1 class="red remove-margin remove-padding text-center calendar"></h1>
	<h5 class="red text-center" style="margin-bottom:0px; padding-bottom: 0;margin-top:-.65em;">Calendar</h5>
</a>
</div>
<div class="block tourism">
	<a href>
	<h1 class="red remove-margin remove-padding text-center farmers"></h1>
	<h5 class="red text-center" style="margin-bottom:0px; padding-bottom: 0;margin-top:-.65em;">Farmer's Market</h5>
</a>
</div>
<div class="block tourism">
	<a href>
	<h1 class="red remove-margin remove-padding text-center arts"></h1>
	<h5 class="red text-center" style="margin-bottom:0px; padding-bottom: 0;margin-top:-.65em;">Arts &amp; Entertainment</h5>
</a>
</div>

